section {
    font-size: 30px;
}

button{
    background-color: blanchedalmond;
    color: darkblue;
    border-radius: 1 em;
}

.just-cont{
    width: 800px;
    height: 400px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-evenly;
}

.flex-wrap{
    width: 800px;
    height: 600px;
    background-color:darkolivegreen;
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-align-items{
    display: flex;
    align-items: center;
}